.input {
    width: 100%;
    border: 1px var(--shadow-color) solid;
    border-radius: var(--border-radius);
    margin-right: 12px;
    font-size: 1.0rem;
    padding: 17px 12px;
}

.input:focus {
    border: 1px var(--border-highlighted-color) solid;
}

.input:focus-visible {
    outline: 0;
}

.input:disabled {
    background-color: var(--disabled-bg-color);
    color: var(--disabled-color);
}