<!DOCTYPE html>
<html>
    <head>
        <title>Список репозиториев</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style/repo_list_style.css">
    </head>
    <body>
        <div class="git-repo-list">
            <div class="git-repo-list__header">
                <input class="git-repo-list__search-input" placeholder="Введите название организации">
                <button class="git-repo-list__search-button">
            </div>
            <div class="git-repo-list__body">
                <div class="git-repo-card">
                    <div class="icon">
                        <img class="icon__image" src="images/squirrel.jpeg" />
                        K
                    </div>
                    <div class="git-repo-card__description">
                        <div class="git-repo-card__title">
                            kts-school-frontend
                        </div>
                        <div class="git-repo-card__company">
                            ktsstudio
                        </div>
                        <div class="git-repo-card__details">
                            <span class="git-repo-card__stars">123</span>
                            <span class="git-repo-card__updated">Updated 21 Jul</span>
                        </div>
                    </div>
                </div>

                <div class="git-repo-card">
                    <div class="icon">
                        K
                    </div>
                    <div class="git-repo-card__description">
                        <div class="git-repo-card__title">
                            kts-school-frontend-with-lots-of-extra-letters-at-the-end
                        </div>
                        <div class="git-repo-card__company">
                            ktsstudio
                        </div>
                        <div class="git-repo-card__details">
                            <span class="git-repo-card__stars">123</span>
                            <span class="git-repo-card__updated">Updated 21 Jul</span>
                        </div>
                    </div>
                </div>

                <div class="git-repo-card">
                    <div class="icon">
                        S
                    </div>
                    <div class="git-repo-card__description">
                        <div class="git-repo-card__title">
                            some-other-repository
                        </div>
                        <div class="git-repo-card__company">
                            different-organization
                        </div>
                        <div class="git-repo-card__details">
                            <span class="git-repo-card__stars">123</span>
                            <span class="git-repo-card__updated">Updated 21 Jul</span>
                        </div>
                    </div>
                </div>

                <div class="git-repo-card">
                    <div class="icon">
                        <img class="icon__image" src="images/squirrel.jpeg" />
                        K
                    </div>
                    <div class="git-repo-card__description">
                        <div class="git-repo-card__title">
                            kts-school-frontend
                        </div>
                        <div class="git-repo-card__company">
                            ktsstudio
                        </div>
                        <div class="git-repo-card__details">
                            <span class="git-repo-card__stars">123</span>
                            <span class="git-repo-card__updated">Updated 21 Jul</span>
                        </div>
                    </div>
                </div>

                <div class="git-repo-card">
                    <div class="icon">
                        <img class="icon__image" src="images/squirrel.jpeg" />
                        K
                    </div>
                    <div class="git-repo-card__description">
                        <div class="git-repo-card__title">
                            kts-school-frontend
                        </div>
                        <div class="git-repo-card__company">
                            ktsstudio
                        </div>
                        <div class="git-repo-card__details">
                            <span class="git-repo-card__stars">123</span>
                            <span class="git-repo-card__updated">Updated 21 Jul</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>